@model BusinessLayer.ModelsDTO.BookDTO

@{
    ViewBag.Title = "EditBook";
}

    <h2>Edit Book</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
    </div>
    <div>
        @Html.EditorFor(model => model.Name)
    </div>
    <button type="submit">Save</button>
}

